extends layout

block content
  .container-fluid.bgHeader
    .container
      h1 #{title}
  .container.bgMain
    br
    p Here you can add your own tournament or league!
    p
      form(method='post', action='/tournaments/add', enctype='multipart/form-data')
        .form-inline
          input.form-control(name='tournamentName', type='text', placeholder='Name')
          input.btn.btn-info(type='submit', name='submit', value='Add')
      form(method='post', action='/tournaments/addEvent', enctype = 'multipart/form-data')
        .form-inline
          input.form-control(name='eventName', type='text', placeholder='Name')
          input.btn.btn-info(type='submit', name='submit', value='Add event')
    if tournaments
      table.table
        thead.thead-gold
          tr
            th League
            th.text-center Public
            th
        tbody
          if events.length > 0
            tr
              td(colspan='3') Events:
        each event in events
          tr
            td(style='width:50%')
              a(href='/tournament/'+event._id) #{event.event}
            td(style='width:30%')
              form(method='post', action='/tournaments/event/public/'+event._id, enctype='multipart/form-data')
                input.form-control(name='public', type='checkbox', onclick="this.form.submit();", checked=event.settings.public)
            td(style='width:20%')
              if(user.username==event.username)
                form.btn-group.inline(method='post', action="/test" enctype='multipart/form-data', onsubmit='return collectCheckboxes("'+event._id+'");')
                  button.btn.btn-info
                    i.oi.oi-plus
                  input.btn(type='hidden')
                form.btn-group.inline(method='post', action='/tournaments/event/remove/'+event._id, enctype='multipart/form-data')
                  input.btn(type='hidden')
                  button.btn.btn-danger(type='submit', name='submit')
                    i.oi.oi-trash   
        tr
          td(colspan='3') Tournaments:
        each tournament in tournaments
          if eventId
            - var trigger = true
          else
            - var trigger = false
          if tournament.settings.eventStatus == trigger
            tr
              td(style='width:50%')
                a(href='/tournaments/edit/'+tournament._id) #{tournament.tournament}
              td(style='width:30%')
                form(method='post', action='/tournaments/public/'+tournament._id+((eventId) ? '/'+eventId : ''), enctype='multipart/form-data')
                  input.form-control(name='public', type='checkbox', onclick="this.form.submit();", checked=tournament.settings.public)
              td(style='width:20%')
                if(user.username==tournament.username)
                  if eventId
                    form.btn-group(method='post', action='/tournaments/event/remove/'+eventId+'/'+tournament._id, enctype='multipart/form-data')
                      button.btn.btn-primary(type='submit', name='submit')
                        i.oi.oi-minus
                      input.btn(type='hidden')
                  else
                    .btn-group.btn-group-toggle(data-toggle='buttons')
                      button.btn.btn-info#event
                        input(type='checkbox', name='tournament', value=tournament._id, autocomplete='off')
                        i.oi.oi-plus
                        i.oi.oi-minus
                      input.btn(type='hidden')
                  form.btn-group.inline(method='post', action='/tournaments/remove/'+tournament._id, enctype='multipart/form-data')
                    input.btn(type='hidden')
                    button.btn.btn-danger(type='submit', name='submit')
                      i.oi.oi-trash